orasoacloud/I004_CrearACBatchJms/SOA/Schemas/CrearAsientoContable.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dpworld.com/SOA_DPWORLD/I001CrearAsientoContable"
     xmlns:ac="http://www.dpworld.com/SOA_DPWORLD/I001CrearAsientoContable" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="CrearACRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="flag" nillable="true" type="xsd:int" maxOccurs="1"/>
                <xsd:element minOccurs="0" name="BatchName" nillable="true" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BatchDescription" nillable="true" type="xsd:string"/>
                <xsd:element minOccurs="0" name="LedgerId" nillable="true" type="xsd:long"/>
                <xsd:element minOccurs="0" name="AccountingPeriodName" nillable="true" type="xsd:string"/>
                <xsd:element minOccurs="0" name="AccountingDate" nillable="true" type="xsd:date"/>
                <xsd:element minOccurs="0" name="UserSourceName" nillable="true" type="xsd:string"/>
                <xsd:element minOccurs="0" name="UserCategoryName" nillable="true" type="xsd:string"/>
                <xsd:element default="false" minOccurs="0" name="ErrorToSuspenseFlag" nillable="true"
                     type="xsd:boolean"/>
                <xsd:element default="false" minOccurs="0" name="SummaryFlag" nillable="true" type="xsd:boolean"/>
                <xsd:element default="N" minOccurs="0" name="ImportDescriptiveFlexField" nillable="true"
                     type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="GlInterface" type="ac:GlInterface"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CrearACResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="codigoRespuesta" type="xsd:int"/>
                <xsd:element name="codigoError" type="xsd:string"/>
                <xsd:element name="descrpcionError" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AmountType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currencyCode" type="ac:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="normalizedString" id="normalizedString">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#normalizedString"/>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="replace" id="normalizedString.whiteSpace"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="GlInterface">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Reference4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LedgerId" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PeriodName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccountingDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="UserJeSourceName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserJeCategoryName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GroupId" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ChartOfAccountsId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BalanceType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CodeCombinationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Segment1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment21" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment22" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment23" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment24" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment25" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment26" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment27" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment28" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment29" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment30" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EnteredCrAmount" nillable="true" type="ac:AmountType"/>
            <xsd:element minOccurs="0" name="EnteredDrAmount" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccountedCr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AccountedDr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="StatisticalValue" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="UserCurrencyConversionType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyConversionDate" nillable="true" type="xsd:date"/>
            <xsd:element minOccurs="0" name="CurrencyConversionRate" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CurrencyConversionType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference21" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference22" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference23" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference24" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference25" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference26" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference27" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference28" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference29" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference30" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReferenceDate" nillable="true" type="xsd:date"/>
            <xsd:element minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AverageJournalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="BalancingSegmentValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DescrFlexErrorMessage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlSlLinkId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="GlSlLinkTable" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InvoiceAmount" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InvoiceDate" nillable="true" type="xsd:date"/>
            <xsd:element minOccurs="0" name="InvoiceIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JeCategoryName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JeSourceName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JgzzReconReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ManagementSegmentValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int"/>
            <xsd:element minOccurs="0" name="OriginatingBalSegValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SetOfBooksId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TaxCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TransactionDate" nillable="true" type="xsd:date"/>
            <xsd:element minOccurs="0" name="USSGLTransactionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlInterfaceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LegalEntityIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LedgerName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
