orasoacloud/I001_SCACrearAC/SOA/Schemas/GlInterface.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/journals/desktopEntry/journalImportService/"
     sdoJava:package="oracle.apps.financials.generalLedger.journals.desktopEntry.journalImportService"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/financials/generalLedger/journals/desktopEntry/journalImportService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Journal SDO</name>
            <description>Journal data to insert into journal interface table</description>
            <oer:documentation href="rep://FUSIONAPPS_FIN/FusionACHubToAUFinancials.png" store="FusionACHubToAUFinancials"/>
            <oer:documentation href="http://files.oraclecorp.com/content/AllPublic/Users/Users-N/nigel.king-Public/FusionPPMToNonFusionPPM.jpg"
                 store="FusionPPMToNonFusionPPM"/>
            <oer:attributes>
                <oer:attribute description="Journal Import reference column" name="Reference4"/>
                <oer:attribute description="Journal Import reference column" name="Reference5"/>
                <oer:attribute description="Ledger defining column" name="LedgerId"/>
                <oer:attribute description="Accounting period" name="PeriodName"/>
                <oer:attribute description="Effective date of the transaction" name="AccountingDate"/>
                <oer:attribute description="Journal entry source user defined name" name="UserJeSourceName"/>
                <oer:attribute description="Journal entry category user defined name" name="UserJeCategoryName"/>
                <oer:attribute description="Interface group defining column" name="GroupId"/>
                <oer:attribute description="Key flexfield structure defining column" name="ChartOfAccountsId"/>
                <oer:attribute description="Balance type (actual, budget, or encumbrance)" name="BalanceType"/>
                <oer:attribute description="Key flexfield combination defining column" name="CodeCombinationId"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment1"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment2"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment3"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment4"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment5"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment6"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment7"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment8"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment9"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment10"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment11"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment12"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment13"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment14"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment15"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment16"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment17"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment18"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment19"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment20"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment21"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment22"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment23"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment24"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment25"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment26"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment27"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment28"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment29"/>
                <oer:attribute description="Key Flexfield: segment of the key flexfield." name="Segment30"/>
                <oer:attribute description="Currency" name="CurrencyCode"/>
                <oer:attribute description="Transaction credit amount, entered currency" name="EnteredCrAmount"/>
                <oer:attribute description="Transaction debit amount, entered currency" name="EnteredDrAmount"/>
                <oer:attribute description="Transaction credit amount, base currency" name="AccountedCr"/>
                <oer:attribute description="Transaction debit amount, base currency" name="AccountedDr"/>
                <oer:attribute description="Statistical amount" name="StatisticalValue"/>
                <oer:attribute description="Type of exchange rate" name="UserCurrencyConversionType"/>
                <oer:attribute description="Date of exchange rate" name="CurrencyConversionDate"/>
                <oer:attribute description="Foreign currency exchange rate" name="CurrencyConversionRate"/>
                <oer:attribute description="Currency conversion type" name="CurrencyConversionType"/>
                <oer:attribute description="Journal Import reference column" name="Reference1"/>
                <oer:attribute description="Journal Import reference column" name="Reference2"/>
                <oer:attribute description="Journal Import reference column" name="Reference3"/>
                <oer:attribute description="Journal Import reference column" name="Reference6"/>
                <oer:attribute description="Journal Import reference column" name="Reference7"/>
                <oer:attribute description="Journal Import reference column" name="Reference8"/>
                <oer:attribute description="Journal Import reference column" name="Reference9"/>
                <oer:attribute description="Journal Import reference column" name="Reference10"/>
                <oer:attribute description="Journal Import reference column" name="Reference11"/>
                <oer:attribute description="Journal Import reference column" name="Reference12"/>
                <oer:attribute description="Journal Import reference column" name="Reference13"/>
                <oer:attribute description="Journal Import reference column" name="Reference14"/>
                <oer:attribute description="Journal Import reference column" name="Reference15"/>
                <oer:attribute description="Journal Import reference column" name="Reference16"/>
                <oer:attribute description="Journal Import reference column" name="Reference17"/>
                <oer:attribute description="Journal Import reference column" name="Reference18"/>
                <oer:attribute description="Journal Import reference column" name="Reference19"/>
                <oer:attribute description="Journal Import reference column" name="Reference20"/>
                <oer:attribute description="Journal Import reference column" name="Reference21"/>
                <oer:attribute description="Journal Import reference column" name="Reference22"/>
                <oer:attribute description="Journal Import reference column" name="Reference23"/>
                <oer:attribute description="Journal Import reference column" name="Reference24"/>
                <oer:attribute description="Journal Import reference column" name="Reference25"/>
                <oer:attribute description="Journal Import reference column" name="Reference26"/>
                <oer:attribute description="Journal Import reference column" name="Reference27"/>
                <oer:attribute description="Journal Import reference column" name="Reference28"/>
                <oer:attribute description="Journal Import reference column" name="Reference29"/>
                <oer:attribute description="Journal Import reference column" name="Reference30"/>
                <oer:attribute description="Reference Date" name="ReferenceDate"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute1"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute2"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute3"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute4"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute5"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute6"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute7"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute8"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute9"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute10"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute11"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute12"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute13"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute14"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute15"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute16"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute17"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute18"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute19"/>
                <oer:attribute description="Descriptive Flexfield: segment of the user descriptive flexfield."
                     name="Attribute20"/>
                <oer:attribute description="Descriptive Flexfield: structure definition of the user descriptive flexfield."
                     name="AttributeCategory"/>
                <oer:attribute description="Descriptive flexfield context column" name="AttributeCategory2"/>
                <oer:attribute description="Descriptive flexfield context column" name="AttributeCategory3"/>
                <oer:attribute description="Average journal flag" name="AverageJournalFlag"/>
                <oer:attribute description="Balancing segment value" name="BalancingSegmentValue"/>
                <oer:attribute description="Descriptive flexfield error message" name="DescrFlexErrorMessage"/>
                <oer:attribute description="Link to associated subledger data" name="GlSlLinkId"/>
                <oer:attribute description="Table containing associated subledger data" name="GlSlLinkTable"/>
                <oer:attribute description="Value added tax descriptive flexfield column" name="InvoiceAmount"/>
                <oer:attribute description="Value added tax descriptive flexfield column" name="InvoiceDate"/>
                <oer:attribute description="Value added tax descriptive flexfield column" name="InvoiceIdentifier"/>
                <oer:attribute description="Journal Category" name="JeCategoryName"/>
                <oer:attribute description="Journal Source" name="JeSourceName"/>
                <oer:attribute description="Global reconciliation reference" name="JgzzReconReference"/>
                <oer:attribute description="Management segment value" name="ManagementSegmentValue"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Originating balancing segment value" name="OriginatingBalSegValue"/>
                <oer:attribute description="Ledger defining column" name="SetOfBooksId"/>
                <oer:attribute description="Journal Import status" name="Status"/>
                <oer:attribute description="Value added tax descriptive flexfield column" name="TaxCode"/>
                <oer:attribute description="Date of transaction" name="TransactionDate"/>
                <oer:attribute description="Government transaction code" name="USSGLTransactionCode"/>
                <oer:attribute description="Interface ID" name="GlInterfaceId"/>
                <oer:attribute description="Unique number used to identify a legal entity." name="LegalEntityIdentifier"/>
                <oer:attribute description="Ledger name for the journal to be imported." name="LedgerName"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="GlInterface">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>GlInterfaceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Reference4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LedgerId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PeriodName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccountingDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="UserJeSourceName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserJeCategoryName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GroupId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ChartOfAccountsId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BalanceType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CodeCombinationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Segment1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment21" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment22" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment23" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment24" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment25" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment26" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment27" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment28" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment29" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Segment30" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EnteredCrAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="EnteredDrAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="AccountedCr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AccountedDr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="StatisticalValue" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="UserCurrencyConversionType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyConversionDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CurrencyConversionRate" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CurrencyConversionType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference21" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference22" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference23" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference24" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference25" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference26" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference27" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference28" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference29" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Reference30" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReferenceDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AverageJournalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="BalancingSegmentValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DescrFlexErrorMessage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlSlLinkId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="GlSlLinkTable" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InvoiceAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="InvoiceDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="InvoiceIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JeCategoryName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JeSourceName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JgzzReconReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ManagementSegmentValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="OriginatingBalSegValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SetOfBooksId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TaxCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TransactionDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="USSGLTransactionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlInterfaceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LegalEntityIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LedgerName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="glInterface" type="GlInterface"/>
</xsd:schema>
